In [2]:
import sqlite3
print(sqlite3.version)
print(sqlite3.sqlite_version)

2.6.0
3.36.0

In [4]:
conn = sqlite3.connect("test.db", isolation_level=None)
# 커서 획득
c = conn.cursor()

c.execute("CREATE TABLE IF NOT EXISTS test_table \
            (id integer PRIMARY KEY, \
            name text, \
            birthday text)")

In [6]:
c.execute("INSERT INTO test_table \
        VALUES(1, 'LEE', '1987-00-00')")

In [7]:
# 데이터 삽입 방법 2
c.execute("INSERT INTO test_table(id, name, birthday) \
    VALUES(?,?,?)", \
    (2, 'KIM', '1990-00-00'))

In [9]:
c.execute("SELECT * FROM test_table")
print(c.fetchone())
print(c.fetchone())
print(c.fetchall())

(1, 'LEE', '1987-00-00')
(2, 'KIM', '1990-00-00')
[]

In [10]:
c.execute("SELECT * FROM test_table")
print(c.fetchall())

[(1, 'LEE', '1987-00-00'), (2, 'KIM', '1990-00-00')]